body{
    background-image: linear-gradient(-20deg, #ffff89, #fdd6bd 100%);
}
hr{
    border-color: #ff9800;
}
nav{
    display: flex;
    justify-content: space-around;
}
.non-active{
    pointer-events: none;
    cursor: default;
    color:gray;
}
.active{
    color: #c06500;
}
img{
    display: block;
    margin: auto;
}
.footer{
    display: flex;
    justify-content: center;
}
header{
    display: flex;
    justify-content: center;
}

.contenido{
    display: flex;
    justify-content: center;
}
p, a, h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #853400;
}

.wave{
    padding-top: 0%;
}

svg{
    padding-bottom: 0%;
    padding-top: 0%;
}