body{
    background-image: linear-gradient(-20deg, #ffff89, #fdd6bd 100%);
    display: block;
    align-items: center;
    justify-content: center;
}

.box{
    width: 320px;
    overflow: hidden;
    margin: auto;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .4s ease-in;
}

img{
    display: block;
    margin: auto;
}

.box:hover img{
    transform: scale(1.2);
}

hr{
    border-color: #ff9800;
}
nav{
    display: flex;
    justify-content: space-around;
}
.non-active{
    pointer-events: none;
    cursor: default;
    color:gray;
}
.active{
    color: #c06500;
}

.footer{
    display: flex;
    justify-content: center;
}
header{
    display: flex;
    justify-content: center;
}

.contenido{
    display: flex;
    justify-content: center;
}
p, a, h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #853400;
}

.wave{
    padding-top: 0%;
}

svg{
    padding-bottom: 0%;
    padding-top: 0%;
}